.Board {
    margin: 0 auto;
    background-color: black;
    border: solid 1px #fff;
    display: grid;

    width: 39.08rem;
}

.Game {
    display: flex;
    flex-direction: column;
}

/* .game-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.speed-controls {
    margin: 0 auto;
    margin-left: 1rem;
} */
