.Board {
    margin: 0 auto;
    background-color: black;
    border: solid 1px #fff;
    display: grid;
}

.Game {
    display: flex;
    flex-direction: column;
}

.game-controls {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
