.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-logo {
    width: 25%;
    height: 25%;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-footer {
    font-size: calc(2px + 2vmin);
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App-footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.collapsible {
    background-color: #111316;
    width: 95%;
    margin: 0 auto;
    border-radius: 0.4rem;
    border: 2px solid palevioletred;
}

.collapsible .content {
    margin: 100px;
    margin-top: 0px;
    text-align: left;
}

.content {
    display: none;
    overflow: hidden;
    text-align: left;
    width: 90%;
    margin: 0 auto;
}
